{% extends 'HelloWorld/base.html' %}

{% block title %}
    HelloWorld page
{% endblock %}
{% block head %}
<style>
    .hello{
        font-style: italic;
    }
    .bold{
        font-weight: 900;
    }
</style>
<!-- <script>
    alert("This is alert for runneing page..!")
</script> -->
{% endblock %}

{% block body %}
 <h1 class="hello">Hello World ! jaymin</h1>
 <p class="how">What will you do for living..??</p>
 <p>This is Nothing For me to Developed. </p>
 <ul>
    {% for mentor in mentors %}
   <li class="{% cycle 'bold' '' %}"> {{ mentor }}</li>
    {% endfor %}
 </ul>

 <!-- {{ developer }} write this line -->

<h4>Developed By: {{ developer }}</h4>
{% endblock %}

